#### **Written by: Yousuf Shah**
#### **Subject: Chi-Square Test**
#### **Date: 07.11.2024**
#### **Email: contact.ys09@gmail.com**

# Chi-Square Test

---

In [1]:
# import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
# Load The Dataset
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### `Null Hypothesis (H0)`: There is no significant association between ('sex') and survival ('survived') on the Titanic. This means any observed differences in survival rates between genders in the dataset are due to chance and not due to an underlying relationship

### `Alternative Hypothesis (H1)`: There is significant association between ('sex') and survival ('survived') on the Titanic. This implies that the differences in survival rates are not just due to chance but are influenced by the passengers's gender

In [3]:
# Create a contigency table
contigency_table= pd.crosstab(df['sex'], df['survived'])
contigency_table

survived    0    1
sex
female     81  233
male      468  109

In [4]:
# Perform chi-square test
chi2, p, dof, expected = stats.chi2_contingency(contigency_table)
print(f'statistic_value: {chi2}')
print()
print(f'pvalue: {p}')
print()
print(f'dof_value: {dof}')
print()
print(f'expected_freq:\n {expected}')

statistic_value: 260.71702016732104

pvalue: 1.1973570627755645e-58

dof_value: 1

expected_freq:
 [[193.47474747 120.52525253]
 [355.52525253 221.47474747]]

### As the P-Value in this test is `P-Value: 1.1973570627755645e-58`  which is far less than 0.05, we reject the Null Hypothesis.